build/
mozilla-central*/
mozilla-build*
*.tar.gz
*_tmp
*~
.idea/

/CMakeLists.txt

/.cproject

/.project
/.settings
cmake-build*

.DS_Store
.bashrc
.bash_profile

mozilla-central-FIREFOX_NIGHTLY_57_END.zip

*.zip
*.wget-hsts
*.bash_history
.ssh/known_hosts
