# Flags set for targeting x86.
export CROSS_COMPILE=1	

# Define where build files should go
mk_add_options MOZ_OBJDIR=@TOPSRCDIR@/${MOZ_OBJ_DIR}

# -s makes builds quieter by default
# -j4 allows 4 tasks to run in parallel. Set the number to be the amount of
# cores in your machine. 4 is a good number.
mk_add_options MOZ_MAKE_FLAGS="-j4"

# ac_add_options --enable-tree-freetype

ac_add_options --disable-sandbox
ac_add_options --disable-printing
ac_add_options --disable-gio
# ac_add_options --disable-gconf
ac_add_options --disable-dbus 
ac_add_options --disable-synth-speechd
ac_add_options --disable-websms-backend
ac_add_options --disable-dbm
ac_add_options --disable-accessibility
ac_add_options --disable-webrtc
ac_add_options --disable-webspeech
ac_add_options --disable-webspeechtestbackend
ac_add_options --disable-permissions
ac_add_options --disable-negotiateauth
ac_add_options --disable-pref-extensions
ac_add_options --disable-system-extension-dirs
ac_add_options --disable-gamepad
ac_add_options --disable-crashreporter
ac_add_options --disable-updater
ac_add_options --disable-parental-controls
ac_add_options --disable-content-sandbox
ac_add_options --disable-mozril-geoloc
ac_add_options --disable-xul
ac_add_options --disable-necko-wifi
ac_add_options --disable-cookies
ac_add_options --disable-ctypes